.complaintBox,
.div {
  position: absolute;
  top: 30px;
  left: calc(50% - 140px);
  line-height: 16px;
  font-weight: 600;
}
.div {
  top: 85px;
  left: calc(50% - 19px);
  font-size: var(--font-size-36xl);
  line-height: 20px;
  color: var(--white-white-100);
}
.activeSubs,
.line {
  position: absolute;
  box-sizing: border-box;
}
.line {
  top: -0.5px;
  left: calc(50% - 23.5px);
  border-top: 1px solid var(--color-red);
  width: 47px;
  height: 1px;
}
.activeSubs {
  top: 263px;
  left: 123px;
  border-radius: var(--br-base);
  background-color: var(--color-dimgray-100);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-lightsteelblue);
  width: 310px;
  height: 135px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--greyscale-grey-40);
  font-family: var(--h2);
}
